*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* (e.g., Courier) */
    font-size: 16px;
}
.container-wrapper{
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 340px;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.container{
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
body{
    background: rgb(202 219 232);
    /* background: linear-gradient(90deg, rgba(126,176,214,1) 0%, rgba(188,219,242,1) 20%, rgba(205,242,250,1) 50%, rgba(188,219,242,1) 80%, rgba(126,176,214,1) 100%); */
    background: radial-gradient(circle, rgba(242,248,249,1) 0%, rgba(95,139,173,1) 100%);
}
.container{
    background: rgb(242,248,249);
    box-shadow: 0px 0px 4px rgba(0,0,0,.6);
}
.shadow{
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	opacity: .2;
	z-index: -1;
}
.shadow > .line-1{
	position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    height: 20px;
    border-radius: 100%;
    background: #000;
    box-shadow: 0px 10px 4px rgba(0,0,0,.8);
}
.shadow > .line-2{
	position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    height: 20px;
    border-radius: 100%;
    background: #000;
    box-shadow: 0px -10px 4px rgba(0,0,0,.8);
}
.shadow > .line-3{
	position: absolute;
    bottom: 5px;
    left: 5px;
    top: 5px;
    width: 20px;
    border-radius: 100%;
    background: #000;
    box-shadow: -10px 0px 4px rgba(0,0,0,.8);
}
.shadow > .line-4{
	position: absolute;
    bottom: 5px;
    right: 5px;
    top: 5px;
    width: 20px;
    border-radius: 100%;
    background: #000;
    box-shadow: 10px 0px 4px rgba(0,0,0,.8);
}
.btn{
    position: relative;
    border: 2px solid #000;
    color: #000;
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 10px 10px;
    background-color: rgba(0,0,0,0);
    transition: .2s ease-in;
}
.btn:hover{
    background-color: rgba(0,0,0,0.1);
}
.stats{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
.stats .item{
    position: relative;
    flex-grow: 1;
    border: 2px solid #000;
    color: #000;
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 10px 5px;
}
.tools{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.tools .btn{
    flex-grow: 1;
    padding: 10px 5px;
}
.tools .btn.btn-block{
    width: 100%;
}
.btn-file{
    overflow: hidden;
}
.btn-file input{
    position: absolute;
    top: -70px;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
}
.start_options{
    position: absolute;
    background: #f1f7f9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.start_options a{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    text-decoration: none;
    padding: 5px;
}
.a{border:1px solid #000;}
.inline-block{
	display: inline-block;
}
.inline{
	display: inline;
}
.hidden{
    display: none !important;
}
.main_puzzle_box_con{
	position: absolute;
	width:100%;
    top:0;
    left: 0;
}

.full-width{
	position: relative;
	width: 100%
}
.w-100{
    width: 100%;
}
.h-100{
    height: 100%;
}
.v-100{
	padding-top: 100%;
}
.puzzle_box{
    position: relative;
	background: #618cae;
	/* background: none; */
	transition:.2s ease-in;
	overflow: hidden;
    box-shadow: 0px 0px 30px rgba(0,0,0,.3) inset;
}
.puzzle_box>.box{
	position: absolute;
	padding-top:100%;
	transition:.1s ease-in;
	overflow: hidden;
}
.puzzle_box.figure-3>.box{
}
.puzzle_box,.puzzle_box>.box>.child_1{
	background-image: url(puzzle.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position:center;
}
.puzzle_box.solved,.puzzle_box.started_puzzle{
	background-image: none !important;
}

.puzzle_box>.box>.child_1{
	position: absolute;
	top:0;
	left: 0;
	height: auto;
	z-index: 100;
	transition:.2s ease-in;
}
.puzzle_box>.box>.child_2{
	position: absolute;
	top:0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 100;
	/*border:1px solid #000;*/
	font-size: 18px;
	color:#222;
	padding: 10px;
	/*box-shadow: 0px 0px 10px #666 inset;*/
	cursor: pointer;
	opacity: 0;
	/*background: #f1f1f1;*/
	transition:.2s ease-in;
}

.puzzle_box.solved>.box[data-current-state="0"] .child_1
{
	opacity: 1;
	visibility: visible;

}

.puzzle_box>.box[data-current-state="0"] .child_1,
.puzzle_box>.box[data-current-state="0"] .child_2
{
	opacity: 0;
	visibility: hidden;
	cursor:default;
}
.puzzle_box.checking>.box>.child_1,
.puzzle_box.solved>.box>.child_2
{
	opacity: 0 !important;
	visibility: hidden !important;
	cursor:default !important;
}

@keyframes sloved_animation{
	0%{
		transform:scale(0);
		opacity: 0;
		visibility: visible;
		top:0;
	}
	50%{
		transform:scale(1);
	}
	90%{
		top:0;
	}
	100%{
		transform:scale(1);
		opacity: 1;
		top:100%;
	}
}

.solved_banner{
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	opacity: 0;
	visibility: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 250%;
    font-weight: bold;
}
.solved_banner img{
	position: relative;
	width: 100%;

}
.solved_banner .solved_title_con{
    padding: 4px;
    border: 5px solid #3ec914;
    border-radius: 20px;
    transform: rotate(-25deg);
    box-shadow: 2px 3px 3px rgba(0,0,0,.3);
}
.solved_banner .solved_title_con .solved_title{
    background: #3ec914;
    padding: 5px 13px;
    color: #fff;
    border-radius: 15px;
    text-shadow: 2px 3px 3px rgba(0,0,0,.3);
}

.solved_banner.show{
	animation-name: sloved_animation;
	animation-duration:3s;
	animaion-timing-function:ease-in-out;
	animation-iteration-count:1;

}

.container, .main_puzzle_box_con, .start_options, .puzzle_box, .btn, .stats .item{
    border-radius: 5px;
}

.contact{
    width: 100%;
    text-align: center;
    padding: 10px 10px 0px 10px;
}
.contact a{
    color: #253b4d;
    font-size: 85%;
}